Copyright Jana Schaich Borg/Attribution-NonCommercial 4.0 International (CC BY-NC 4.0)

# MySQL Exercise 11: Queries that Test Relationships Between Test Completion and Dog Characteristics

This lesson we are going to integrate all the SQL syntax we've learned so far to start addressing questions in our Dognition Analysis Plan.  I summarized the reasons having an analysis plan is so important in the "Start with an Analysis Plan" video accompanying this week's materials.  Analysis plans ensure that you will address questions that are relevant to your business objectives as quickly and efficiently as possible.  The quickest way to narrow in the factors in your analysis plan that are likely to create new insights is to combine simple SQL calculations with visualization programs, like Tableau, to identify which factors under consideration have the strongest effects on the business metric you are tasked with improving.  You can then design more nuanced statistical models in other software, such as R, based on the factors you have confirmed are likely to be important for understanding and changing your business metric. 

<img src="https://duke.box.com/shared/static/davndrvd4jb1awwuq6sd1rgt0ck4o8nm.jpg" width=400 alt="SELECT FROM WHERE ORDER BY" />

I describe a method for designing analysis plans in the Data Visualization and Communication with Tableau course earlier in this Specialization.  I call that method Structured Pyramid Analysis Plans, or "sPAPs".  I have provided a skeleton of an sPAP for the Dognition data set with the materials for this course that I will use as a road map for the queries we will design and practice in the next two lessons.  To orient you, the SMART goal of the analysis project is at the top of the pyramid.  This is a specific, measurable, attainable, relevant, and time-bound version of the general project objective, which is to make a recommendation to Dognition about what they could do to increase the number of tests customers complete. The variables you will use to assess the goal should be filled out right under where the SMART goal is written.  Then under those variables, you will see ever-widening layers of categories and sub-categories of issues that will be important to analyze in order to achieve your SMART goal.  
   
In this lesson, we will write queries to address the issues in the left-most branch of the sPAP.  These issues all relate to "Features of Dogs" that could potentially influence the number of tests the dogs will ultimately complete.  We will spend a lot of time discussing and practicing how to translate analysis questions described in words into queries written in SQL syntax.

To begin, load the sql library and database, and make the Dognition database your default database:

In [6]:
%load_ext sql
%sql mysql://studentuser:studentpw@mysqlserver/dognitiondb

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: studentuser@dognitiondb'

<img src="https://duke.box.com/shared/static/p2eucjdttai08eeo7davbpfgqi3zrew0.jpg" width=600 alt="SELECT FROM WHERE" />

## 1. Assess whether Dognition personality dimensions are related to the number of tests completed 

The first variable in the Dognition sPAP we want to investigate is Dognition personality dimensions.  Recall from the "Meet Your Dognition Data" video and the written description of the Dognition Data Set included with the Week 2 materials that Dognition personality dimensions represent distinct combinations of characteristics assessed by the Dognition tests.  It is certainly plausible that certain personalities of dogs might be more or less likely to complete tests.  For example, "einstein" dogs might be particularly likely to complete a lot of tests.  

To test the relationship between Dognition personality dimensions and test completion totals, we need a query that will output a summary of the number of tests completed by dogs that have each of the Dognition personality dimensions.  The features you will need to include in your query are foreshadowed by key words in this sentence.  First, the fact that you need a summary of the number of tests completed suggests you will need an aggregation function.  Next, the fact that you want a different summary for each personality dimension suggests that you will need a GROUP BY clause.  Third, the fact that you need a "summary of the number of tests completed" rather than just a "summary of the tests completed" suggests that you might have to have multiple stages of aggegrations, which in turn might mean that you will need to use a subquery.

Let's build the query step by step.

**Question 1: To get a feeling for what kind of values exist in the Dognition personality dimension column, write a query that will output all of the distinct values in the dimension column.  Use your relational schema or the course materials to determine what table the dimension column is in.  Your output should have 11 rows.**

In [2]:
%%sql
SELECT DISTINCT dimension
From dogs;

11 rows affected.

[('charmer',),
 ('protodog',),
 (None,),
 ('einstein',),
 ('stargazer',),
 ('maverick',),
 ('socialite',),
 ('ace',),
 ('expert',),
 ('renaissance-dog',),
 ('',)]

The results of the query above illustrate there are NULL values (indicated by the output value "none") in the dimension column.  Keep that in mind in case it is relevant to future queries.  

We want a summary of the total number of tests completed by dogs with each personality dimension.  In order to calculate those summaries, we first need to calculate the total number of tests completed by each dog.  We can achieve this using a subquery.  The subquery will require data from both the dogs and the complete_tests table, so the subquery will need to include a join.  We are only interested in dogs who have completed tests, so an inner join is appropriate in this case.

**Question 2: Use the equijoin syntax (described in MySQL Exercise 8) to write a query that will output the Dognition personality dimension and total number of tests completed by each unique DogID.  This query will be used as an inner subquery in the next question.  LIMIT your output to 100 rows for troubleshooting purposes.**

In [8]:
%%sql 
SELECT d.dimension, d.dog_guid, count(c.created_at)
FROM dogs d, complete_tests c
WHERE d.dog_guid = c.dog_guid
GROUP BY d.dog_guid
Limit 100;

100 rows affected.

[('charmer', 'fd27b272-7144-11e5-ba71-058fbc01cf0b', 21),
 ('protodog', 'fd27b5ba-7144-11e5-ba71-058fbc01cf0b', 20),
 (None, 'fd27b6b4-7144-11e5-ba71-058fbc01cf0b', 2),
 (None, 'fd27b79a-7144-11e5-ba71-058fbc01cf0b', 11),
 ('einstein', 'fd27b86c-7144-11e5-ba71-058fbc01cf0b', 31),
 ('stargazer', 'fd27b948-7144-11e5-ba71-058fbc01cf0b', 20),
 ('maverick', 'fd27ba1a-7144-11e5-ba71-058fbc01cf0b', 27),
 ('protodog', 'fd27bbbe-7144-11e5-ba71-058fbc01cf0b', 20),
 ('einstein', 'fd27c1c2-7144-11e5-ba71-058fbc01cf0b', 20),
 ('socialite', 'fd27c5be-7144-11e5-ba71-058fbc01cf0b', 20),
 (None, 'fd27c74e-7144-11e5-ba71-058fbc01cf0b', 14),
 ('socialite', 'fd27c7d0-7144-11e5-ba71-058fbc01cf0b', 20),
 ('stargazer', 'fd27c852-7144-11e5-ba71-058fbc01cf0b', 20),
 ('ace', 'fd27c8d4-7144-11e5-ba71-058fbc01cf0b', 20),
 (None, 'fd27c956-7144-11e5-ba71-058fbc01cf0b', 11),
 ('protodog', 'fd27cb72-7144-11e5-ba71-058fbc01cf0b', 20),
 ('expert', 'fd27cd98-7144-11e5-ba71-058fbc01cf0b', 20),
 (None, 'fd27ce1a-7144-11e5-ba71-058fbc01cf0b', 7),
 (None, 'fd27cea6-7144-11e5-ba71-058fbc01cf0b', 2),
 ('charmer', 'fd27cf28-7144-11e5-ba71-058fbc01cf0b', 20),
 (None, 'fd27cfaa-7144-11e5-ba71-058fbc01cf0b', 7),
 ('stargazer', 'fd27d02c-7144-11e5-ba71-058fbc01cf0b', 20),
 ('renaissance-dog', 'fd27d0b8-7144-11e5-ba71-058fbc01cf0b', 21),
 (None, 'fd27d144-7144-11e5-ba71-058fbc01cf0b', 7),
 (None, 'fd27d1c6-7144-11e5-ba71-058fbc01cf0b', 7),
 (None, 'fd27d248-7144-11e5-ba71-058fbc01cf0b', 6),
 (None, 'fd27d2ca-7144-11e5-ba71-058fbc01cf0b', 4),
 (None, 'fd27d34c-7144-11e5-ba71-058fbc01cf0b', 4),
 (None, 'fd27d3d8-7144-11e5-ba71-058fbc01cf0b', 4),
 ('stargazer', 'fd27d45a-7144-11e5-ba71-058fbc01cf0b', 28),
 ('maverick', 'fd27d4dc-7144-11e5-ba71-058fbc01cf0b', 28),
 ('socialite', 'fd27d770-7144-11e5-ba71-058fbc01cf0b', 25),
 ('einstein', 'fd27d9fa-7144-11e5-ba71-058fbc01cf0b', 20),
 (None, 'fd27db08-7144-11e5-ba71-058fbc01cf0b', 14),
 (None, 'fd27db8a-7144-11e5-ba71-058fbc01cf0b', 16),
 (None, 'fd27dc52-7144-11e5-ba71-058fbc01cf0b', 2),
 (None, 'fd27dd38-7144-11e5-ba71-058fbc01cf0b', 4),
 (None, 'fd27e026-7144-11e5-ba71-058fbc01cf0b', 6),
 (None, 'fd27e0d0-7144-11e5-ba71-058fbc01cf0b', 6),
 ('charmer', 'fd27e1e8-7144-11e5-ba71-058fbc01cf0b', 20),
 ('socialite', 'fd27e31e-7144-11e5-ba71-058fbc01cf0b', 23),
 ('maverick', 'fd27e454-7144-11e5-ba71-058fbc01cf0b', 45),
 ('stargazer', 'fd27e580-7144-11e5-ba71-058fbc01cf0b', 33),
 ('protodog', 'fd27e9a4-7144-11e5-ba71-058fbc01cf0b', 22),
 (None, 'fd27eae4-7144-11e5-ba71-058fbc01cf0b', 4),
 ('maverick', 'fd27ed46-7144-11e5-ba71-058fbc01cf0b', 25),
 ('einstein', 'fd27efb2-7144-11e5-ba71-058fbc01cf0b', 20),
 (None, 'fd27f110-7144-11e5-ba71-058fbc01cf0b', 7),
 (None, 'fd27f25a-7144-11e5-ba71-058fbc01cf0b', 6),
 (None, 'fd27f4c6-7144-11e5-ba71-058fbc01cf0b', 4),
 (None, 'fd27f732-7144-11e5-ba71-058fbc01cf0b', 4),
 (None, 'fd27f868-7144-11e5-ba71-058fbc01cf0b', 4),
 (None, 'fd27f9a8-7144-11e5-ba71-058fbc01cf0b', 3),
 (None, 'fd28010a-7144-11e5-ba71-058fbc01cf0b', 2),
 (None, 'fd280236-7144-11e5-ba71-058fbc01cf0b', 2),
 (None, 'fd280344-7144-11e5-ba71-058fbc01cf0b', 6),
 (None, 'fd280826-7144-11e5-ba71-058fbc01cf0b', 4),
 (None, 'fd2808b2-7144-11e5-ba71-058fbc01cf0b', 11),
 (None, 'fd28093e-7144-11e5-ba71-058fbc01cf0b', 2),
 (None, 'fd2809c0-7144-11e5-ba71-058fbc01cf0b', 4),
 (None, 'fd3ccd24-7144-11e5-ba71-058fbc01cf0b', 4),
 ('einstein', 'fd3ccf2c-7144-11e5-ba71-058fbc01cf0b', 22),
 (None, 'fd3cd40e-7144-11e5-ba71-058fbc01cf0b', 10),
 ('charmer', 'fd3cd4d6-7144-11e5-ba71-058fbc01cf0b', 20),
 (None, 'fd3cd8d2-7144-11e5-ba71-058fbc01cf0b', 7),
 ('renaissance-dog', 'fd3cd99a-7144-11e5-ba71-058fbc01cf0b', 20),
 (None, 'fd3cec50-7144-11e5-ba71-058fbc01cf0b', 4),
 (None, 'fd3cf5c4-7144-11e5-ba71-058fbc01cf0b', 4),
 (None, 'fd3cf678-7144-11e5-ba71-058fbc01cf0b', 7),
 (None, 'fd3cf718-7144-11e5-ba71-058fbc01cf0b', 17),
 ('protodog', 'fd3cf8ee-7144-11e5-ba71-058fbc01cf0b', 20),
 (None, 'fd3cf984-7144-11e5-ba71-058fbc01cf0b', 4),
 (None, 'fd3cfa1a-7144-11e5-ba71-058fbc01cf0b', 4),
 ('charmer', 'fd3cfab0-7144-11e5-ba71-058fbc01cf0b', 38),
 ('socialite', 'fd3cfcfe-7144-11e5-ba71-058fbc01cf0b', 20),
 ('expert', 'fd3cfd94-7144-11e5-ba71-058fbc01cf0b', 20),
 ('socialite', 'fd3cfe2a-7144-11e5-ba71-058fbc01cf0b', 20),
 ('protodog', 'fd3cfeb6-7144-11e5-ba71-058fbc01cf0b', 20),
 ('charmer', 'fd3cff4c-7144-11e5-ba71-058fbc01cf0b', 21),
 (None, 'fd3d0078-7144-11e5-ba71-058fbc01cf0b', 10),
 (None, 'fd3d01ae-7144-11e5-ba71-058fbc01cf0b', 11),
 (None, 'fd3d03fc-7144-11e5-ba71-058fbc01cf0b', 4),
 (None, 'fd3d0492-7144-11e5-ba71-058fbc01cf0b', 14),
 (None, 'fd3d05be-7144-11e5-ba71-058fbc01cf0b', 11),
 (None, 'fd3d064a-7144-11e5-ba71-058fbc01cf0b', 16),
 (None, 'fd3d06e0-7144-11e5-ba71-058fbc01cf0b', 16),
 ('einstein', 'fd3d0776-7144-11e5-ba71-058fbc01cf0b', 20),
 (None, 'fd3d080c-7144-11e5-ba71-058fbc01cf0b', 4),
 ('socialite', 'fd3d0898-7144-11e5-ba71-058fbc01cf0b', 45),
 ('socialite', 'fd3d0938-7144-11e5-ba71-058fbc01cf0b', 20),
 ('ace', 'fd3d09ce-7144-11e5-ba71-058fbc01cf0b', 20),
 (None, 'fd3d0b7c-7144-11e5-ba71-058fbc01cf0b', 7),
 (None, 'fd3d0c12-7144-11e5-ba71-058fbc01cf0b', 4),
 (None, 'fd3d0cb2-7144-11e5-ba71-058fbc01cf0b', 5),
 ('expert', 'fd3d0d48-7144-11e5-ba71-058fbc01cf0b', 20),
 (None, 'fd3d0dde-7144-11e5-ba71-058fbc01cf0b', 14),
 ('expert', 'fd3d0f00-7144-11e5-ba71-058fbc01cf0b', 20),
 ('socialite', 'fd3d0f96-7144-11e5-ba71-058fbc01cf0b', 20),
 ('charmer', 'fd3d102c-7144-11e5-ba71-058fbc01cf0b', 20),
 ('ace', 'fd3d10cc-7144-11e5-ba71-058fbc01cf0b', 20)]

**Question 3: Re-write the query in Question 2 using traditional join syntax (described in MySQL Exercise 8).**

In [10]:
%%sql SELECT d.dog_guid AS dogID, d.dimension AS dimension, count(c.created_at) AS
numtests
FROM dogs d JOIN complete_tests c
ON d.dog_guid=c.dog_guid
GROUP BY dogID
LIMIT 100;

SELECT d.dog_guid AS dogID, d.dimension AS dimension, count(c.created_at) AS
numtests
FROM dogs d JOIN complete_tests c
ON d.dog_guid=c.dog_guid
GROUP BY dog
LIMIT 100;

100 rows affected.

[('fd27b272-7144-11e5-ba71-058fbc01cf0b', 'charmer', 21),
 ('fd27b5ba-7144-11e5-ba71-058fbc01cf0b', 'protodog', 20),
 ('fd27b6b4-7144-11e5-ba71-058fbc01cf0b', None, 2),
 ('fd27b79a-7144-11e5-ba71-058fbc01cf0b', None, 11),
 ('fd27b86c-7144-11e5-ba71-058fbc01cf0b', 'einstein', 31),
 ('fd27b948-7144-11e5-ba71-058fbc01cf0b', 'stargazer', 20),
 ('fd27ba1a-7144-11e5-ba71-058fbc01cf0b', 'maverick', 27),
 ('fd27bbbe-7144-11e5-ba71-058fbc01cf0b', 'protodog', 20),
 ('fd27c1c2-7144-11e5-ba71-058fbc01cf0b', 'einstein', 20),
 ('fd27c5be-7144-11e5-ba71-058fbc01cf0b', 'socialite', 20),
 ('fd27c74e-7144-11e5-ba71-058fbc01cf0b', None, 14),
 ('fd27c7d0-7144-11e5-ba71-058fbc01cf0b', 'socialite', 20),
 ('fd27c852-7144-11e5-ba71-058fbc01cf0b', 'stargazer', 20),
 ('fd27c8d4-7144-11e5-ba71-058fbc01cf0b', 'ace', 20),
 ('fd27c956-7144-11e5-ba71-058fbc01cf0b', None, 11),
 ('fd27cb72-7144-11e5-ba71-058fbc01cf0b', 'protodog', 20),
 ('fd27cd98-7144-11e5-ba71-058fbc01cf0b', 'expert', 20),
 ('fd27ce1a-7144-11e5-ba71-058fbc01cf0b', None, 7),
 ('fd27cea6-7144-11e5-ba71-058fbc01cf0b', None, 2),
 ('fd27cf28-7144-11e5-ba71-058fbc01cf0b', 'charmer', 20),
 ('fd27cfaa-7144-11e5-ba71-058fbc01cf0b', None, 7),
 ('fd27d02c-7144-11e5-ba71-058fbc01cf0b', 'stargazer', 20),
 ('fd27d0b8-7144-11e5-ba71-058fbc01cf0b', 'renaissance-dog', 21),
 ('fd27d144-7144-11e5-ba71-058fbc01cf0b', None, 7),
 ('fd27d1c6-7144-11e5-ba71-058fbc01cf0b', None, 7),
 ('fd27d248-7144-11e5-ba71-058fbc01cf0b', None, 6),
 ('fd27d2ca-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd27d34c-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd27d3d8-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd27d45a-7144-11e5-ba71-058fbc01cf0b', 'stargazer', 28),
 ('fd27d4dc-7144-11e5-ba71-058fbc01cf0b', 'maverick', 28),
 ('fd27d770-7144-11e5-ba71-058fbc01cf0b', 'socialite', 25),
 ('fd27d9fa-7144-11e5-ba71-058fbc01cf0b', 'einstein', 20),
 ('fd27db08-7144-11e5-ba71-058fbc01cf0b', None, 14),
 ('fd27db8a-7144-11e5-ba71-058fbc01cf0b', None, 16),
 ('fd27dc52-7144-11e5-ba71-058fbc01cf0b', None, 2),
 ('fd27dd38-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd27e026-7144-11e5-ba71-058fbc01cf0b', None, 6),
 ('fd27e0d0-7144-11e5-ba71-058fbc01cf0b', None, 6),
 ('fd27e1e8-7144-11e5-ba71-058fbc01cf0b', 'charmer', 20),
 ('fd27e31e-7144-11e5-ba71-058fbc01cf0b', 'socialite', 23),
 ('fd27e454-7144-11e5-ba71-058fbc01cf0b', 'maverick', 45),
 ('fd27e580-7144-11e5-ba71-058fbc01cf0b', 'stargazer', 33),
 ('fd27e9a4-7144-11e5-ba71-058fbc01cf0b', 'protodog', 22),
 ('fd27eae4-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd27ed46-7144-11e5-ba71-058fbc01cf0b', 'maverick', 25),
 ('fd27efb2-7144-11e5-ba71-058fbc01cf0b', 'einstein', 20),
 ('fd27f110-7144-11e5-ba71-058fbc01cf0b', None, 7),
 ('fd27f25a-7144-11e5-ba71-058fbc01cf0b', None, 6),
 ('fd27f4c6-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd27f732-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd27f868-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd27f9a8-7144-11e5-ba71-058fbc01cf0b', None, 3),
 ('fd28010a-7144-11e5-ba71-058fbc01cf0b', None, 2),
 ('fd280236-7144-11e5-ba71-058fbc01cf0b', None, 2),
 ('fd280344-7144-11e5-ba71-058fbc01cf0b', None, 6),
 ('fd280826-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd2808b2-7144-11e5-ba71-058fbc01cf0b', None, 11),
 ('fd28093e-7144-11e5-ba71-058fbc01cf0b', None, 2),
 ('fd2809c0-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd3ccd24-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd3ccf2c-7144-11e5-ba71-058fbc01cf0b', 'einstein', 22),
 ('fd3cd40e-7144-11e5-ba71-058fbc01cf0b', None, 10),
 ('fd3cd4d6-7144-11e5-ba71-058fbc01cf0b', 'charmer', 20),
 ('fd3cd8d2-7144-11e5-ba71-058fbc01cf0b', None, 7),
 ('fd3cd99a-7144-11e5-ba71-058fbc01cf0b', 'renaissance-dog', 20),
 ('fd3cec50-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd3cf5c4-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd3cf678-7144-11e5-ba71-058fbc01cf0b', None, 7),
 ('fd3cf718-7144-11e5-ba71-058fbc01cf0b', None, 17),
 ('fd3cf8ee-7144-11e5-ba71-058fbc01cf0b', 'protodog', 20),
 ('fd3cf984-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd3cfa1a-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd3cfab0-7144-11e5-ba71-058fbc01cf0b', 'charmer', 38),
 ('fd3cfcfe-7144-11e5-ba71-058fbc01cf0b', 'socialite', 20),
 ('fd3cfd94-7144-11e5-ba71-058fbc01cf0b', 'expert', 20),
 ('fd3cfe2a-7144-11e5-ba71-058fbc01cf0b', 'socialite', 20),
 ('fd3cfeb6-7144-11e5-ba71-058fbc01cf0b', 'protodog', 20),
 ('fd3cff4c-7144-11e5-ba71-058fbc01cf0b', 'charmer', 21),
 ('fd3d0078-7144-11e5-ba71-058fbc01cf0b', None, 10),
 ('fd3d01ae-7144-11e5-ba71-058fbc01cf0b', None, 11),
 ('fd3d03fc-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd3d0492-7144-11e5-ba71-058fbc01cf0b', None, 14),
 ('fd3d05be-7144-11e5-ba71-058fbc01cf0b', None, 11),
 ('fd3d064a-7144-11e5-ba71-058fbc01cf0b', None, 16),
 ('fd3d06e0-7144-11e5-ba71-058fbc01cf0b', None, 16),
 ('fd3d0776-7144-11e5-ba71-058fbc01cf0b', 'einstein', 20),
 ('fd3d080c-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd3d0898-7144-11e5-ba71-058fbc01cf0b', 'socialite', 45),
 ('fd3d0938-7144-11e5-ba71-058fbc01cf0b', 'socialite', 20),
 ('fd3d09ce-7144-11e5-ba71-058fbc01cf0b', 'ace', 20),
 ('fd3d0b7c-7144-11e5-ba71-058fbc01cf0b', None, 7),
 ('fd3d0c12-7144-11e5-ba71-058fbc01cf0b', None, 4),
 ('fd3d0cb2-7144-11e5-ba71-058fbc01cf0b', None, 5),
 ('fd3d0d48-7144-11e5-ba71-058fbc01cf0b', 'expert', 20),
 ('fd3d0dde-7144-11e5-ba71-058fbc01cf0b', None, 14),
 ('fd3d0f00-7144-11e5-ba71-058fbc01cf0b', 'expert', 20),
 ('fd3d0f96-7144-11e5-ba71-058fbc01cf0b', 'socialite', 20),
 ('fd3d102c-7144-11e5-ba71-058fbc01cf0b', 'charmer', 20),
 ('fd3d10cc-7144-11e5-ba71-058fbc01cf0b', 'ace', 20)]

Now we need to summarize the total number of tests completed by each unique DogID within each Dognition personality dimension.  To do this we will need to choose an appropriate aggregation function for the count column of the query we just wrote.  

**Question 4: To start, write a query that will output the average number of tests completed by unique dogs in each Dognition personality dimension.  Choose either the query in Question 2 or 3 to serve as an inner query in your main query.  If you have trouble, make sure you use the appropriate aliases in your GROUP BY and SELECT statements.**

In [22]:
%%sql SELECT AVG(dogTest.numtests) AS avgTest, dogTest.dimension
    FROM (SELECT DISTINCT d.dog_guid AS dogID, d.dimension AS Dimension, count(c.created_at) AS
    numtests
    FROM dogs d JOIN complete_tests c
    ON d.dog_guid=c.dog_guid
         GROUP BY d.dog_guid) as dogTest
    GROUP BY dogTest.dimension;

11 rows affected.

[(Decimal('6.9416'), None),
 (Decimal('9.5352'), ''),
 (Decimal('23.3878'), 'ace'),
 (Decimal('23.2594'), 'charmer'),
 (Decimal('23.2171'), 'einstein'),
 (Decimal('23.3926'), 'expert'),
 (Decimal('22.8199'), 'maverick'),
 (Decimal('22.9336'), 'protodog'),
 (Decimal('23.0157'), 'renaissance-dog'),
 (Decimal('23.1194'), 'socialite'),
 (Decimal('22.7368'), 'stargazer')]

You should retrieve an output of 11 rows with one of the dimensions labeled "None" and another labeled "" (nothing is between the quotation marks).

**Question 5: How many unique DogIDs are summarized in the Dognition dimensions labeled "None" or ""? (You should retrieve values of 13,705 and 71)**

In [37]:
%%sql SELECT COUNT(DISTINCT dogID), dimension
FROM (SELECT DISTINCT d.dog_guid AS dogID, d.dimension AS Dimension
    FROM dogs d JOIN complete_tests c
    ON d.dog_guid=c.dog_guid
    WHERE d.dimension IS NULL OR d.dimension = ""
    GROUP BY d.dog_guid) AS NewData
GROUP BY dimension;

2 rows affected.

[(13705, None), (71, '')]

It makes sense there would be many dogs with NULL values in the dimension column, because we learned from Dognition that personality dimensions can only be assigned after the initial "Dognition Assessment" is completed, which is comprised of the first 20 Dognition tests.  If dogs did not complete the first 20 tests, they would retain a NULL value in the dimension column.

The non-NULL empty string values are more curious.  It is not clear where those values would come from.  

**Question 6: To determine whether there are any features that are common to all dogs that have non-NULL empty strings in the dimension column, write a query that outputs the breed, weight, value in the "exclude" column, first or minimum time stamp in the complete_tests table, last or maximum time stamp in the complete_tests table, and total number of tests completed by each unique DogID that has a non-NULL empty string in the dimension column.**

In [48]:
%%sql 
SELECT d.breed, d.weight, d.exclude, MIN(c.created_at) AS FIRST, MAX(c.created_at) AS LAST, count(c.created_at) AS numtests
FROM dogs d JOIN complete_tests c
ON d.dog_guid = c.dog_guid
WHERE d.dimension = ""
GROUP by d.dog_guid;

71 rows affected.

[('Golden Retriever', 30, 0, datetime.datetime(2013, 5, 23, 7, 6, 21), datetime.datetime(2013, 7, 2, 12, 15, 18), 17),
 ('Dachshund', 10, 1, datetime.datetime(2014, 10, 21, 18, 53, 2), datetime.datetime(2014, 10, 21, 19, 10, 7), 3),
 ('Border Collie-Labrador Retriever Mix', 50, 0, datetime.datetime(2013, 11, 16, 2, 26, 15), datetime.datetime(2013, 11, 16, 2, 38, 57), 4),
 ('Belgian Tervuren', 70, 1, datetime.datetime(2014, 11, 10, 21, 21, 6), datetime.datetime(2014, 12, 16, 1, 13, 28), 13),
 ('Pembroke Welsh Corgi', 20, 1, datetime.datetime(2014, 9, 19, 17, 42, 37), datetime.datetime(2014, 9, 22, 17, 58, 25), 4),
 ('Chihuahua', 0, 1, datetime.datetime(2014, 10, 6, 0, 57, 46), datetime.datetime(2014, 10, 9, 22, 55, 51), 2),
 ('Australian Shepherd', 50, 1, datetime.datetime(2014, 10, 6, 1, 54, 49), datetime.datetime(2014, 10, 30, 2, 16, 12), 14),
 ('Mixed', 60, 1, datetime.datetime(2014, 10, 10, 1, 1, 21), datetime.datetime(2014, 10, 10, 12, 33, 52), 4),
 ('Portuguese Water Dog', 60, 1, datetime.datetime(2014, 10, 10, 13, 22, 58), datetime.datetime(2014, 10, 10, 13, 36, 17), 3),
 ('Labrador Retriever', 50, 1, datetime.datetime(2014, 10, 6, 15, 28, 42), datetime.datetime(2014, 10, 23, 20, 24, 20), 7),
 ('Golden Retriever', 70, 1, datetime.datetime(2014, 10, 6, 17, 27, 41), datetime.datetime(2014, 12, 10, 1, 35, 43), 14),
 ('Poodle', 50, 1, datetime.datetime(2014, 10, 9, 5, 29, 7), datetime.datetime(2014, 11, 3, 3, 10, 19), 16),
 ('Other', 30, 1, datetime.datetime(2014, 10, 21, 2, 5, 28), datetime.datetime(2014, 10, 21, 2, 12, 10), 2),
 ('Labrador Retriever', 70, 1, datetime.datetime(2014, 10, 7, 2, 4, 42), datetime.datetime(2014, 10, 23, 2, 6, 2), 10),
 ('West Highland White Terrier', 10, 1, datetime.datetime(2014, 10, 7, 13, 7, 18), datetime.datetime(2014, 10, 11, 21, 57, 57), 19),
 ('Brittany', 30, 1, datetime.datetime(2014, 10, 12, 18, 9), datetime.datetime(2015, 1, 4, 20, 38, 26), 11),
 ('German Shepherd Dog', 50, 1, datetime.datetime(2014, 10, 7, 16, 58, 19), datetime.datetime(2014, 10, 8, 15, 56, 42), 4),
 ('Miniature Schnauzer', 10, 1, datetime.datetime(2014, 10, 16, 20, 42, 50), datetime.datetime(2014, 10, 21, 17, 29, 14), 6),
 ('Shih Tzu-Bichon Frise Mix', 10, 1, datetime.datetime(2014, 10, 8, 22, 48, 34), datetime.datetime(2015, 3, 8, 18, 33, 37), 17),
 ('Mixed', 30, 1, datetime.datetime(2014, 10, 18, 14, 0, 16), datetime.datetime(2014, 10, 25, 14, 18, 48), 16),
 ('Shih Tzu', 10, 1, datetime.datetime(2014, 10, 9, 1, 18, 26), datetime.datetime(2014, 11, 11, 1, 39, 17), 19),
 ('Mixed', 60, 1, datetime.datetime(2014, 10, 16, 11, 5, 12), datetime.datetime(2014, 10, 25, 13, 47, 46), 12),
 ('Collie-Golden Retriever Mix', 40, 1, datetime.datetime(2014, 10, 8, 18, 57, 6), datetime.datetime(2014, 10, 10, 20, 22, 20), 15),
 ('Mixed', 40, 1, datetime.datetime(2014, 10, 10, 11, 51, 24), datetime.datetime(2014, 12, 1, 13, 41, 37), 19),
 ('Shih Tzu', 190, 1, datetime.datetime(2014, 10, 9, 17, 42, 21), datetime.datetime(2014, 10, 9, 17, 48, 4), 5),
 ('Bichon Frise-Poodle Mix', 10, 1, datetime.datetime(2014, 10, 18, 22, 55, 21), datetime.datetime(2014, 12, 2, 23, 8, 20), 12),
 ('Mixed', 30, 1, datetime.datetime(2014, 10, 13, 23, 45, 26), datetime.datetime(2015, 4, 3, 10, 58, 59), 8),
 ('Australian Shepherd-Australian Cattle Dog Mix', 40, 1, datetime.datetime(2014, 10, 12, 6, 24, 53), datetime.datetime(2014, 10, 24, 7, 47, 32), 7),
 ('Shih Tzu', 10, 1, datetime.datetime(2014, 10, 11, 18, 27, 25), datetime.datetime(2014, 10, 11, 19, 33, 14), 7),
 ('Norwegian Elkhound', 50, 1, datetime.datetime(2014, 10, 11, 18, 52, 21), datetime.datetime(2014, 10, 19, 21, 52, 3), 11),
 ('Golden Doodle', 50, 1, datetime.datetime(2014, 10, 12, 16, 7, 21), datetime.datetime(2014, 11, 1, 17, 20, 7), 16),
 ('Miniature Schnauzer', 10, 1, datetime.datetime(2014, 10, 12, 18, 0, 27), datetime.datetime(2014, 10, 22, 23, 46, 24), 12),
 ('Chow Chow-Labrador Retriever Mix', 160, 1, datetime.datetime(2014, 10, 12, 23, 37, 23), datetime.datetime(2014, 10, 16, 15, 41, 43), 7),
 ('Golden Retriever', 50, 1, datetime.datetime(2014, 10, 13, 15, 30, 26), datetime.datetime(2014, 10, 15, 4, 23, 56), 7),
 ('Mixed', 0, 1, datetime.datetime(2014, 10, 16, 13, 52, 40), datetime.datetime(2014, 12, 19, 21, 29, 15), 7),
 ('Karelian Bear Dog', 10, 0, datetime.datetime(2014, 11, 7, 13, 4, 1), datetime.datetime(2015, 7, 11, 16, 58, 35), 6),
 ('Shetland Sheepdog', 10, 1, datetime.datetime(2014, 10, 16, 16, 53, 38), datetime.datetime(2014, 10, 18, 17, 21, 41), 16),
 ('Brittany', 40, 1, datetime.datetime(2014, 11, 10, 21, 57, 8), datetime.datetime(2015, 5, 3, 22, 24, 56), 16),
 ('Flat-Coated Retriever', 60, 1, datetime.datetime(2014, 10, 17, 3, 59, 18), datetime.datetime(2014, 10, 18, 14, 6, 50), 12),
 ('American Staffordshire Terrier', 60, 1, datetime.datetime(2014, 10, 21, 0, 17, 3), datetime.datetime(2014, 11, 29, 17, 35, 30), 17),
 ('Rottweiler', 30, 1, datetime.datetime(2014, 10, 19, 18, 52, 8), datetime.datetime(2014, 10, 20, 23, 4, 14), 8),
 ('Shih Tzu', 190, 1, datetime.datetime(2014, 10, 21, 19, 24, 18), datetime.datetime(2014, 10, 21, 19, 37, 54), 9),
 ('Ibizan Hound-Greyhound Mix', 50, 1, datetime.datetime(2014, 10, 27, 21, 24, 56), datetime.datetime(2014, 11, 9, 21, 32, 19), 13),
 ('Mixed', 40, 1, datetime.datetime(2014, 10, 26, 18, 47, 56), datetime.datetime(2015, 5, 11, 21, 5, 1), 15),
 ('German Shepherd Dog', 90, 1, datetime.datetime(2014, 11, 1, 8, 54, 40), datetime.datetime(2015, 2, 5, 4, 59, 26), 7),
 ('German Shepherd Dog', 100, 1, datetime.datetime(2015, 1, 29, 3, 23, 32), datetime.datetime(2015, 2, 10, 3, 14, 8), 11),
 ('Mixed', 30, 1, datetime.datetime(2014, 11, 10, 0, 12, 10), datetime.datetime(2014, 11, 23, 21, 48, 17), 3),
 ('American Staffordshire Terrier-Whippet Mix', 40, 1, datetime.datetime(2014, 11, 12, 2, 11, 45), datetime.datetime(2014, 11, 20, 16, 36, 38), 4),
 ('Australian Shepherd-Border Collie Mix', 30, 1, datetime.datetime(2014, 11, 16, 0, 29, 35), datetime.datetime(2014, 12, 3, 20, 44, 14), 4),
 ('Mixed', 60, 1, datetime.datetime(2014, 11, 27, 16, 58, 49), datetime.datetime(2014, 11, 27, 17, 6, 1), 3),
 ('Rottweiler-Labrador Retriever Mix', 80, 1, datetime.datetime(2014, 11, 27, 2, 0, 54), datetime.datetime(2014, 11, 27, 17, 3, 25), 4),
 ('Australian Shepherd', 40, 1, datetime.datetime(2014, 11, 30, 4, 58, 36), datetime.datetime(2014, 12, 10, 16, 33, 40), 11),
 ('Redbone Coonhound', 60, 1, datetime.datetime(2014, 11, 30, 23, 17, 20), datetime.datetime(2014, 12, 1, 22, 47, 3), 4),
 ('Border Collie', 40, 1, datetime.datetime(2014, 12, 1, 13, 15, 43), datetime.datetime(2014, 12, 1, 13, 32, 40), 4),
 ('Shih Tzu', 20, 1, datetime.datetime(2015, 2, 16, 20, 0, 4), datetime.datetime(2015, 2, 19, 6, 10, 30), 4),
 ('Shetland Sheepdog', 30, 0, datetime.datetime(2015, 4, 11, 17, 42, 12), datetime.datetime(2015, 5, 6, 14, 18, 3), 18),
 ('Mixed', 10, 0, datetime.datetime(2015, 5, 20, 23, 19, 5), datetime.datetime(2015, 7, 12, 17, 35, 11), 15),
 ('Doberman Pinscher-Rottweiler Mix', 70, 1, datetime.datetime(2015, 5, 26, 16, 7, 21), datetime.datetime(2015, 5, 26, 16, 7, 21), 1),
 ('English Springer Spaniel', 40, 1, datetime.datetime(2015, 5, 16, 21, 24, 4), datetime.datetime(2015, 5, 16, 22, 13, 23), 12),
 ("I Don't Know", 0, 0, datetime.datetime(2015, 5, 19, 23, 28, 44), datetime.datetime(2015, 5, 20, 2, 34, 48), 16),
 ('Mixed', 100, 1, datetime.datetime(2015, 7, 1, 17, 17, 51), datetime.datetime(2015, 7, 1, 18, 2, 26), 14),
 ('Labrador Retriever-Poodle Mix', 70, 1, datetime.datetime(2015, 5, 29, 13, 45, 39), datetime.datetime(2015, 5, 29, 16, 3, 43), 6),
 ('Italian Greyhound-Miniature Pinscher Mix', 0, 0, datetime.datetime(2015, 6, 2, 22, 44, 2), datetime.datetime(2015, 6, 15, 19, 38, 53), 14),
 ('Mixed', 50, 1, datetime.datetime(2015, 6, 14, 1, 50, 27), datetime.datetime(2015, 6, 14, 1, 53, 58), 4),
 ("I Don't Know", 30, 1, datetime.datetime(2015, 6, 28, 17, 43, 10), datetime.datetime(2015, 7, 17, 23, 42, 10), 14),
 ('Mixed', 40, 1, datetime.datetime(2015, 6, 16, 23, 47, 21), datetime.datetime(2015, 6, 18, 23, 28, 35), 3),
 ('Australian Labradoodle', 20, 1, datetime.datetime(2015, 7, 7, 3, 18, 50), datetime.datetime(2015, 7, 7, 3, 51, 1), 11),
 ('Mixed', 30, 0, datetime.datetime(2015, 6, 16, 23, 58, 36), datetime.datetime(2015, 6, 25, 23, 21, 39), 7),
 ('Golden Doodle', 20, 1, datetime.datetime(2015, 6, 20, 14, 43, 54), datetime.datetime(2015, 8, 11, 3, 32, 16), 13),
 ('Bichon Frise', 10, 1, datetime.datetime(2015, 6, 24, 14, 40, 3), datetime.datetime(2015, 6, 24, 14, 50, 17), 6),
 ("I Don't Know", 20, 0, datetime.datetime(2015, 10, 3, 18, 22, 6), datetime.datetime(2015, 10, 3, 18, 28, 19), 2)]

A quick inspection of the output from the last query illustrates that almost all of the entries that have non-NULL empty strings in the dimension column also have "exclude" flags of 1, meaning that the entries are meant to be excluded due to factors monitored by the Dognition team.  This provides a good argument for excluding the entire category of entries that have non-NULL empty strings in the dimension column from our analyses.

**Question 7: Rewrite the query in Question 4 to exclude DogIDs with (1) non-NULL empty strings in the dimension column, (2) NULL values in the dimension column, and (3) values of "1" in the exclude column.  NOTES AND HINTS: You cannot use a clause that says d.exclude does not equal 1 to remove rows that have exclude flags, because Dognition clarified that both NULL values and 0 values in the "exclude" column are valid data.  A clause that says you should only include values that are not equal to 1 would remove the rows that have NULL values in the exclude column, because NULL values are never included in equals statements (as we learned in the join lessons).  In addition, although it should not matter for this query, practice including parentheses with your OR and AND statements that accurately reflect the logic you intend.  Your results should return 402 DogIDs in the ace dimension and 626 dogs in the charmer dimension.**

In [9]:
%%sql SELECT AVG(dogTest.numtests) AS avgTest, dogTest.dimension, COUNT(DISTINCT dogID)
    FROM (SELECT DISTINCT d.dog_guid AS dogID, d.dimension AS Dimension, count(c.created_at) AS
    numtests
    FROM dogs d JOIN complete_tests c
    ON d.dog_guid=c.dog_guid
    WHERE (dimension IS NOT NULL AND dimension!='') AND (d.exclude IS NULL OR d.exclude = "0")
            GROUP BY d.dog_guid) as dogTest
    GROUP BY dogTest.dimension;

9 rows affected.

[(Decimal('23.5100'), 'ace', 402),
 (Decimal('23.3594'), 'charmer', 626),
 (Decimal('23.2385'), 'einstein', 109),
 (Decimal('23.4249'), 'expert', 273),
 (Decimal('22.7673'), 'maverick', 245),
 (Decimal('22.9570'), 'protodog', 535),
 (Decimal('23.0410'), 'renaissance-dog', 463),
 (Decimal('23.0997'), 'socialite', 792),
 (Decimal('22.7968'), 'stargazer', 310)]

The results of Question 7 suggest there are not appreciable differences in the number of tests completed by dogs with different Dognition personality dimensions.  Although these analyses are not definitive on their own, these results suggest focusing on Dognition personality dimensions will not likely lead to significant insights about how to improve Dognition completion rates.



## 2. Assess whether dog breeds are related to the number of tests completed

The next variable in the Dognition sPAP we want to investigate is Dog Breed.  We will run one analysis with Breed Group and one analysis with Breed Type.

First, determine how many distinct breed groups there are.

**Questions 8: Write a query that will output all of the distinct values in the breed_group field.**

In [10]:
%%sql SELECT DISTINCT breed_group
FROM dogs;

9 rows affected.

[('Sporting',),
 ('Herding',),
 ('Toy',),
 ('Working',),
 (None,),
 ('Hound',),
 ('Non-Sporting',),
 ('Terrier',),
 ('',)]

You can see that there are NULL values in the breed_group field.  Let's examine the properties of these entries with NULL values to determine whether they should be excluded from our analysis.

**Question 9: Write a query that outputs the breed, weight, value in the "exclude" column, first or minimum time stamp in the complete_tests table, last or maximum time stamp in the complete_tests table, and total number of tests completed by each unique DogID that has a NULL value in the breed_group column.**

In [10]:
%%sql 
SELECt d.breed AS DBREED, d.weight AS DWEIGHT, d.exclude AS NEUTERED, MIN(c.created_at) AS FIRSTTEST, MAX(c.created_at)
AS LASTTEST, count(DISTINCT d.dog_guid) AS DogID
FROM dogs d JOIN complete_tests c
ON d.dog_guid = c.dog_guid
WHERE d.breed_group IS NULL
GROUP BY d.dog_guid
LIMIT 100;

100 rows affected.

[('Mixed', 50, None, datetime.datetime(2013, 2, 5, 18, 57, 5), datetime.datetime(2013, 2, 5, 22, 38, 1), 1),
 ('Shih Tzu-Poodle Mix', 0, None, datetime.datetime(2013, 2, 5, 21, 44, 38), datetime.datetime(2013, 2, 10, 3, 33, 37), 1),
 ('German Shepherd Dog-Pembroke Welsh Corgi Mix', 40, None, datetime.datetime(2013, 2, 6, 4, 45, 28), datetime.datetime(2014, 1, 6, 5, 58, 13), 1),
 ('German Shepherd Dog-Nova Scotia Duck Tolling Retriever Mix', 30, None, datetime.datetime(2013, 5, 17, 17, 45, 46), datetime.datetime(2013, 6, 14, 23, 42, 53), 1),
 ('Mixed', 10, None, datetime.datetime(2013, 2, 6, 4, 44, 50), datetime.datetime(2013, 2, 6, 4, 48, 29), 1),
 ('Australian Shepherd-German Shepherd Dog Mix', 90, None, datetime.datetime(2013, 2, 7, 5, 15, 48), datetime.datetime(2013, 12, 20, 21, 3, 18), 1),
 ('Golden Doodle', 70, None, datetime.datetime(2013, 2, 9, 5, 49, 46), datetime.datetime(2013, 2, 9, 6, 10, 11), 1),
 ('Mixed', 30, None, datetime.datetime(2013, 2, 10, 3, 28, 12), datetime.datetime(2013, 7, 20, 2, 12, 37), 1),
 ('Mixed', 90, 1, datetime.datetime(2014, 9, 24, 15, 10, 3), datetime.datetime(2014, 9, 24, 21, 23, 37), 1),
 ('Mudi', 20, None, datetime.datetime(2014, 10, 6, 22, 21, 56), datetime.datetime(2014, 10, 6, 22, 24, 2), 1),
 ('Parson Russell Terrier-Beagle Mix', 30, None, datetime.datetime(2013, 2, 6, 18, 7, 18), datetime.datetime(2013, 2, 6, 18, 16, 13), 1),
 ("I Don't Know", 50, None, datetime.datetime(2013, 2, 6, 22, 14), datetime.datetime(2013, 2, 6, 22, 41, 28), 1),
 ('Mixed', 70, None, datetime.datetime(2013, 2, 10, 4, 6, 3), datetime.datetime(2015, 9, 28, 17, 33, 5), 1),
 ('Chihuahua- Mix', 0, None, datetime.datetime(2013, 2, 8, 4, 4, 51), datetime.datetime(2013, 2, 11, 3, 35, 44), 1),
 ('Mixed', 20, None, datetime.datetime(2013, 2, 7, 3, 0, 5), datetime.datetime(2013, 2, 7, 3, 16, 21), 1),
 ('Chihuahua-Dachshund Mix', 10, None, datetime.datetime(2014, 6, 23, 20, 46, 28), datetime.datetime(2014, 6, 23, 20, 50, 48), 1),
 ('Mixed', 70, None, datetime.datetime(2013, 2, 19, 15, 46, 44), datetime.datetime(2013, 2, 19, 15, 51, 52), 1),
 ('English Cocker Spaniel-Cocker Spaniel Mix', 20, None, datetime.datetime(2013, 2, 16, 16, 29, 48), datetime.datetime(2013, 2, 28, 19, 30, 51), 1),
 ('Cavalier King Charles Spaniel-Bichon Frise Mix', 10, None, datetime.datetime(2013, 2, 8, 21, 48, 11), datetime.datetime(2013, 2, 8, 22, 21, 21), 1),
 ('Poodle-Cocker Spaniel Mix', 20, None, datetime.datetime(2013, 2, 7, 23, 3, 17), datetime.datetime(2013, 2, 8, 18, 5, 43), 1),
 ('Beagle-Schipperke Mix', 20, None, datetime.datetime(2013, 2, 8, 1, 3, 49), datetime.datetime(2013, 2, 27, 0, 42, 55), 1),
 ('Labrador Retriever-Golden Retriever Mix', 60, None, datetime.datetime(2013, 2, 12, 0, 0, 47), datetime.datetime(2013, 2, 20, 0, 7, 48), 1),
 ('Labrador Retriever-Golden Retriever Mix', 70, None, datetime.datetime(2013, 2, 12, 0, 40, 17), datetime.datetime(2013, 2, 20, 0, 54, 30), 1),
 ('Boston Terrier-Chihuahua Mix', 10, None, datetime.datetime(2013, 3, 30, 15, 10, 46), datetime.datetime(2013, 3, 30, 15, 19, 27), 1),
 ('American Pit Bull Terrier', 50, None, datetime.datetime(2013, 2, 8, 4, 28, 32), datetime.datetime(2014, 2, 5, 17, 5, 35), 1),
 ('Mixed', 40, None, datetime.datetime(2013, 2, 8, 19, 44, 28), datetime.datetime(2013, 2, 24, 17, 44, 4), 1),
 ('Beagle-Cavalier King Charles Spaniel Mix', 20, None, datetime.datetime(2013, 2, 8, 19, 48, 21), datetime.datetime(2013, 2, 24, 18, 16, 21), 1),
 ('Mixed', 50, None, datetime.datetime(2013, 2, 16, 3, 0, 16), datetime.datetime(2013, 3, 2, 4, 18, 6), 1),
 ('Mixed', 60, None, datetime.datetime(2013, 2, 8, 4, 52, 30), datetime.datetime(2013, 2, 10, 1, 29, 53), 1),
 ('Labradoodle', 10, 1, datetime.datetime(2013, 2, 8, 15, 12, 24), datetime.datetime(2013, 2, 8, 18, 33, 35), 1),
 ('Mixed', 100, None, datetime.datetime(2013, 2, 8, 18, 6, 57), datetime.datetime(2013, 3, 17, 15, 38, 33), 1),
 ('Mixed', 10, None, datetime.datetime(2013, 2, 12, 5, 13, 4), datetime.datetime(2013, 5, 19, 18, 54, 28), 1),
 ('Labrador Retriever-Border Collie Mix', 50, None, datetime.datetime(2013, 2, 9, 0, 58, 3), datetime.datetime(2013, 2, 9, 1, 2, 34), 1),
 ('Lhasa Apso-Poodle Mix', 10, None, datetime.datetime(2013, 2, 8, 23, 42, 54), datetime.datetime(2013, 2, 8, 23, 42, 54), 1),
 ('Labradoodle', 60, None, datetime.datetime(2013, 2, 9, 2, 45, 18), datetime.datetime(2013, 2, 9, 2, 57, 37), 1),
 ('Mixed', 30, None, datetime.datetime(2013, 2, 8, 22, 19, 36), datetime.datetime(2013, 2, 8, 22, 46, 51), 1),
 ('Rat Terrier', 10, None, datetime.datetime(2014, 4, 5, 22, 7, 37), datetime.datetime(2014, 4, 5, 22, 23, 43), 1),
 ('Collie-Shetland Sheepdog Mix', 30, None, datetime.datetime(2013, 2, 9, 3, 55, 42), datetime.datetime(2013, 2, 16, 16, 9, 4), 1),
 ('Golden Retriever-Collie Mix', 50, None, datetime.datetime(2013, 2, 9, 14, 47, 37), datetime.datetime(2013, 9, 14, 16, 45, 52), 1),
 ('American Eskimo Dog-Papillon Mix', 10, None, datetime.datetime(2013, 2, 10, 4, 37, 21), datetime.datetime(2013, 4, 19, 3, 38, 1), 1),
 ('German Shepherd Dog-Belgian Tervuren Mix', 30, None, datetime.datetime(2013, 2, 10, 9, 8, 4), datetime.datetime(2013, 4, 3, 13, 45, 33), 1),
 ('Maltese-Yorkshire Terrier Mix', 0, None, datetime.datetime(2013, 2, 13, 16, 52, 17), datetime.datetime(2013, 2, 13, 17, 5, 30), 1),
 ('Rat Terrier', 10, None, datetime.datetime(2013, 2, 11, 23, 12, 32), datetime.datetime(2013, 2, 11, 23, 57, 30), 1),
 ('Border Collie-Greyhound Mix', 60, None, datetime.datetime(2013, 2, 9, 21, 19, 18), datetime.datetime(2013, 2, 9, 21, 19, 18), 1),
 ('Labradoodle', 40, None, datetime.datetime(2013, 2, 17, 12, 25, 25), datetime.datetime(2013, 5, 3, 20, 2, 33), 1),
 ('Mixed', 50, None, datetime.datetime(2014, 10, 9, 22, 18, 56), datetime.datetime(2015, 1, 31, 23, 18, 46), 1),
 ('Maltese-Poodle Mix', 10, None, datetime.datetime(2013, 2, 14, 0, 49, 14), datetime.datetime(2013, 2, 14, 0, 59, 39), 1),
 ('Siberian Husky-German Shepherd Dog Mix', 70, None, datetime.datetime(2013, 2, 10, 3, 51, 5), datetime.datetime(2013, 2, 16, 4, 8, 51), 1),
 ('Golden Retriever-German Shepherd Dog Mix', 40, None, datetime.datetime(2013, 2, 12, 11, 13, 29), datetime.datetime(2013, 2, 19, 20, 1, 3), 1),
 ('Mixed', 60, 1, datetime.datetime(2013, 2, 10, 19, 39), datetime.datetime(2015, 7, 13, 0, 6, 52), 1),
 ('Mixed', 60, None, datetime.datetime(2013, 2, 11, 0, 58, 32), datetime.datetime(2013, 3, 4, 0, 18, 41), 1),
 ('Poodle-Miniature Schnauzer Mix', 10, None, datetime.datetime(2013, 9, 2, 16, 2, 11), datetime.datetime(2013, 10, 25, 0, 57, 20), 1),
 ('Maltese-Poodle Mix', 10, None, datetime.datetime(2013, 9, 2, 16, 19, 31), datetime.datetime(2013, 9, 2, 16, 22, 22), 1),
 ('Yorkshire Terrier-Poodle Mix', 10, None, datetime.datetime(2013, 9, 2, 16, 12, 18), datetime.datetime(2013, 10, 25, 1, 4, 28), 1),
 ('Labradoodle', 20, None, datetime.datetime(2013, 2, 11, 23, 41, 54), datetime.datetime(2013, 3, 5, 1, 29, 50), 1),
 ('Silky Terrier-Poodle Mix', 10, None, datetime.datetime(2013, 3, 7, 1, 57, 7), datetime.datetime(2013, 4, 5, 1, 14, 27), 1),
 ('Mixed', 60, None, datetime.datetime(2013, 2, 11, 5, 25, 10), datetime.datetime(2013, 5, 28, 2, 42, 54), 1),
 ('Russell Terrier-Miniature Pinscher Mix', 0, None, datetime.datetime(2013, 2, 14, 10, 19, 41), datetime.datetime(2013, 4, 3, 13, 56, 29), 1),
 ('Mixed', 70, None, datetime.datetime(2013, 2, 24, 2, 37, 26), datetime.datetime(2013, 7, 29, 22, 21, 4), 1),
 ('Australian Cattle Dog- Mix', 50, None, datetime.datetime(2013, 2, 12, 14, 27, 16), datetime.datetime(2013, 3, 23, 23, 56, 49), 1),
 ('Mixed', 60, 1, datetime.datetime(2013, 2, 11, 23, 42, 26), datetime.datetime(2013, 2, 12, 0, 22, 45), 1),
 ('Staffordshire Bull Terrier-Bulldog Mix', 60, None, datetime.datetime(2013, 3, 6, 1, 21, 23), datetime.datetime(2013, 3, 6, 1, 50, 2), 1),
 ('Mixed', 60, None, datetime.datetime(2013, 2, 12, 0, 8, 42), datetime.datetime(2013, 4, 2, 18, 48, 24), 1),
 ('Mixed', 50, None, datetime.datetime(2013, 2, 12, 7, 8, 39), datetime.datetime(2013, 2, 18, 7, 35, 9), 1),
 ('Kooikerhondje', 10, None, datetime.datetime(2013, 2, 11, 23, 24, 25), datetime.datetime(2013, 2, 14, 17, 39, 24), 1),
 ('Labrador Retriever-Golden Retriever Mix', 60, None, datetime.datetime(2013, 2, 17, 17, 0, 21), datetime.datetime(2013, 2, 18, 16, 10, 3), 1),
 ('German Shepherd Dog-Border Collie Mix', 50, None, datetime.datetime(2013, 2, 12, 0, 37, 39), datetime.datetime(2013, 2, 12, 2, 15, 12), 1),
 ('Mixed', 50, None, datetime.datetime(2013, 2, 12, 1, 8, 7), datetime.datetime(2013, 2, 12, 1, 22, 58), 1),
 ('Mixed', 30, None, datetime.datetime(2013, 2, 12, 1, 7, 10), datetime.datetime(2013, 2, 14, 0, 3, 2), 1),
 ('Mixed', 80, None, datetime.datetime(2013, 2, 12, 3, 40, 54), datetime.datetime(2013, 2, 17, 19, 57, 11), 1),
 ('Labradoodle', 20, None, datetime.datetime(2013, 2, 12, 22, 40, 50), datetime.datetime(2013, 2, 17, 15, 5, 46), 1),
 ('Mixed', 70, None, datetime.datetime(2014, 1, 4, 13, 51, 25), datetime.datetime(2014, 1, 4, 14, 8, 7), 1),
 ('Cardigan Welsh Corgi-German Shepherd Dog Mix', 30, None, datetime.datetime(2013, 2, 13, 6, 29, 56), datetime.datetime(2014, 9, 13, 2, 12, 53), 1),
 ('Doberman Pinscher-German Shepherd Dog Mix', 60, None, datetime.datetime(2013, 2, 18, 21, 36, 18), datetime.datetime(2013, 2, 20, 16, 11, 8), 1),
 ('Mixed', 30, None, datetime.datetime(2013, 2, 14, 22, 48, 29), datetime.datetime(2013, 3, 16, 21, 43), 1),
 ('Canaan Dog- Mix', 60, None, datetime.datetime(2013, 2, 19, 2, 49, 40), datetime.datetime(2013, 4, 8, 2, 18, 39), 1),
 ('Russell Terrier-Pug Mix', 10, None, datetime.datetime(2013, 2, 18, 23, 53, 19), datetime.datetime(2013, 3, 15, 22, 58, 39), 1),
 ('Mixed', 50, 1, datetime.datetime(2013, 2, 18, 12, 42, 10), datetime.datetime(2013, 2, 18, 17, 5, 18), 1),
 ('Australian Cattle Dog-Border Collie Mix', 50, None, datetime.datetime(2013, 2, 14, 16, 33, 12), datetime.datetime(2014, 4, 3, 15, 57, 33), 1),
 ('Mixed', 60, None, datetime.datetime(2013, 2, 21, 20, 24, 15), datetime.datetime(2013, 2, 22, 2, 9, 45), 1),
 ('Chihuahua-Dachshund Mix', 10, 1, datetime.datetime(2013, 2, 15, 5, 9, 23), datetime.datetime(2013, 2, 15, 9, 59, 57), 1),
 ('Border Collie-Australian Shepherd Mix', 40, None, datetime.datetime(2013, 4, 30, 20, 17, 49), datetime.datetime(2013, 4, 30, 21, 27, 5), 1),
 ('Australian Shepherd-Border Collie Mix', 40, None, datetime.datetime(2013, 2, 18, 23, 41, 51), datetime.datetime(2013, 4, 24, 0, 9, 9), 1),
 ('Mixed', 50, None, datetime.datetime(2013, 3, 3, 2, 45, 36), datetime.datetime(2013, 3, 5, 2, 6, 4), 1),
 ('Mixed', 50, None, datetime.datetime(2013, 2, 27, 0, 10, 58), datetime.datetime(2014, 5, 19, 23, 29, 59), 1),
 ('French Spaniel', 40, None, datetime.datetime(2013, 2, 20, 20, 0, 32), datetime.datetime(2013, 2, 26, 13, 57, 36), 1),
 ('Mixed', 20, None, datetime.datetime(2013, 2, 17, 0, 30, 9), datetime.datetime(2013, 3, 3, 2, 2, 37), 1),
 ('Mixed', 20, None, datetime.datetime(2013, 3, 10, 16, 48, 42), datetime.datetime(2013, 3, 27, 1, 38, 18), 1),
 ('Mixed', 40, None, datetime.datetime(2013, 2, 18, 23, 57, 53), datetime.datetime(2014, 3, 7, 11, 38, 15), 1),
 ('Mixed', 20, None, datetime.datetime(2013, 2, 20, 3, 21, 39), datetime.datetime(2013, 6, 19, 2, 40, 54), 1),
 ('Mixed', 40, None, datetime.datetime(2013, 2, 18, 18, 16, 27), datetime.datetime(2013, 3, 8, 17, 42, 9), 1),
 ('Golden Retriever-Labrador Retriever Mix', 60, None, datetime.datetime(2013, 3, 3, 16, 38, 40), datetime.datetime(2013, 4, 26, 0, 35, 15), 1),
 ('Mixed', 30, 1, datetime.datetime(2013, 2, 23, 18, 47, 46), datetime.datetime(2013, 4, 27, 16, 10, 39), 1),
 ('Golden Retriever-Labrador Retriever Mix', 40, None, datetime.datetime(2013, 3, 3, 16, 42, 12), datetime.datetime(2013, 3, 18, 17, 48, 27), 1),
 ('Mixed', 40, None, datetime.datetime(2013, 4, 8, 2, 20, 12), datetime.datetime(2013, 4, 8, 2, 27, 50), 1),
 ('Labrador Retriever-Chinese Shar-Pei Mix', 50, None, datetime.datetime(2013, 3, 1, 16, 6, 47), datetime.datetime(2013, 6, 28, 19, 51, 22), 1),
 ('Mixed', 40, None, datetime.datetime(2013, 2, 21, 0, 31, 24), datetime.datetime(2013, 6, 7, 1, 7, 41), 1),
 ('Mixed', 20, None, datetime.datetime(2013, 2, 20, 23, 54, 39), datetime.datetime(2013, 6, 7, 0, 46, 51), 1),
 ('Mixed', 50, None, datetime.datetime(2013, 2, 22, 2, 25, 15), datetime.datetime(2013, 2, 22, 2, 29, 12), 1),
 ('Mixed', 40, None, datetime.datetime(2013, 2, 20, 16, 29, 38), datetime.datetime(2013, 5, 15, 21, 4, 20), 1)]

There are a lot of these entries and there is no obvious feature that is common to all of them, so at present, we do not have a good reason to exclude them from our analysis.  Therefore, let's move on to question 10 now....

**Question 10: Adapt the query in Question 7 to examine the relationship between breed_group and number of tests completed.  Exclude DogIDs with values of "1" in the exclude column. Your results should return 1774 DogIDs in the Herding breed group.**

In [13]:
%%sql SELECT AVG(dogTest.numtests) AS avgTest, dogTest.DBREED, COUNT(DISTINCT dogID)
    FROM (SELECT DISTINCT d.dog_guid AS dogID, d.breed_group AS DBREED, count(c.created_at) AS
    numtests
    FROM dogs d JOIN complete_tests c
    ON d.dog_guid=c.dog_guid
    WHERE d.exclude IS NULL OR d.exclude=0
            GROUP BY d.dog_guid) as dogTest
    GROUP BY dogTest.DBREED;

9 rows affected.

[(Decimal('10.2251'), None, 8564),
 (Decimal('19.7542'), '', 179),
 (Decimal('11.2469'), 'Herding', 1774),
 (Decimal('10.0603'), 'Hound', 564),
 (Decimal('10.0197'), 'Non-Sporting', 964),
 (Decimal('10.9915'), 'Sporting', 2470),
 (Decimal('9.9333'), 'Terrier', 780),
 (Decimal('8.7157'), 'Toy', 1041),
 (Decimal('10.2358'), 'Working', 865)]

The results show there are non-NULL entries of empty strings in breed_group column again.  Ignoring them for now, Herding and Sporting breed_groups complete the most tests, while Toy breed groups complete the least tests.  This suggests that one avenue an analyst might want to explore further is whether it is worth it to target marketing or certain types of Dognition tests to dog owners with dogs in the Herding and Sporting breed_groups.  Later in this lesson we will discuss whether using a median instead of an average to summarize the number of completed tests might affect this potential course of action. 

**Question 11: Adapt the query in Question 10 to only report results for Sporting, Hound, Herding, and Working breed_groups using an IN clause.**

In [18]:
%%sql SELECT AVG(dogTest.numtests) AS avgTest, dogTest.DBREED, COUNT(DISTINCT dogID)
    FROM (SELECT DISTINCT d.dog_guid AS dogID, d.breed_group AS DBREED, count(c.created_at) AS
    numtests
    FROM dogs d JOIN complete_tests c
    ON d.dog_guid=c.dog_guid
    WHERE d.exclude IS NULL OR d.exclude=0
            GROUP BY d.dog_guid) as dogTest
    GROUP BY dogTest.DBREED
    HAVING dogTest.DBREED IN ('Sporting','Hound','Herding','Working');

4 rows affected.

[(Decimal('11.2469'), 'Herding', 1774),
 (Decimal('10.0603'), 'Hound', 564),
 (Decimal('10.9915'), 'Sporting', 2470),
 (Decimal('10.2358'), 'Working', 865)]

Next, let's examine the relationship between breed_type and number of completed tests.  

**Questions 12: Begin by writing a query that will output all of the distinct values in the breed_type field.**

In [19]:
%%sql
SELECT DISTINCT breed_type
FROM dogs;

4 rows affected.

[('Pure Breed',),
 ("Mixed Breed/ Other/ I Don't Know",),
 ('Cross Breed',),
 ('Popular Hybrid',)]

**Question 13: Adapt the query in Question 7 to examine the relationship between breed_type and number of tests completed. Exclude DogIDs with values of "1" in the exclude column. Your results should return 8865 DogIDs in the Pure Breed group.**

In [20]:
%%sql SELECT AVG(dogTest.numtests) AS avgTest, dogTest.DBREED, COUNT(DISTINCT dogID)
    FROM (SELECT DISTINCT d.dog_guid AS dogID, d.breed_type AS DBREED, count(c.created_at) AS
    numtests
    FROM dogs d JOIN complete_tests c
    ON d.dog_guid=c.dog_guid
    WHERE d.exclude IS NULL OR d.exclude=0
            GROUP BY d.dog_guid) as dogTest
    GROUP BY dogTest.DBREED;

4 rows affected.

[(Decimal('10.6009'), 'Cross Breed', 2884),
 (Decimal('10.2688'), "Mixed Breed/ Other/ I Don't Know", 4818),
 (Decimal('10.8423'), 'Popular Hybrid', 634),
 (Decimal('10.4107'), 'Pure Breed', 8865)]

There does not appear to be an appreciable difference between number of tests completed by dogs of different breed types.
    
  
## 3. Assess whether dog breeds and neutering are related to the number of tests completed

To explore the results we found above a little further, let's run some queries that relabel the breed_types according to "Pure_Breed" and "Not_Pure_Breed".  

**Question 14: For each unique DogID, output its dog_guid, breed_type, number of completed tests, and use a CASE statement to include an extra column with a string that reads "Pure_Breed" whenever breed_type equals 'Pure Breed" and "Not_Pure_Breed" whenever breed_type equals anything else.  LIMIT your output to 50 rows for troubleshooting.**

In [37]:
%%sql 
SELECT d.dog_guid, d.breed_type, count(c.created_at),
CASE WHEN d.breed_type = "Pure Breed" THEN "Pure_Breed"
    ELSE "NOT_Pure_Breed"
    END AS pure_breed
FROM dogs d JOIN complete_tests c
ON d.dog_guid = c.dog_guid
GROUP By d.dog_guid
LIMIT 50;

50 rows affected.

[('fd27b272-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 21, 'Pure_Breed'),
 ('fd27b5ba-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 20, 'Pure_Breed'),
 ('fd27b6b4-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 2, 'Pure_Breed'),
 ('fd27b79a-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 11, 'Pure_Breed'),
 ('fd27b86c-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 31, 'Pure_Breed'),
 ('fd27b948-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 20, 'Pure_Breed'),
 ('fd27ba1a-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 27, 'Pure_Breed'),
 ('fd27bbbe-7144-11e5-ba71-058fbc01cf0b', "Mixed Breed/ Other/ I Don't Know", 20, 'NOT_Pure_Breed'),
 ('fd27c1c2-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 20, 'Pure_Breed'),
 ('fd27c5be-7144-11e5-ba71-058fbc01cf0b', 'Cross Breed', 20, 'NOT_Pure_Breed'),
 ('fd27c74e-7144-11e5-ba71-058fbc01cf0b', 'Cross Breed', 14, 'NOT_Pure_Breed'),
 ('fd27c7d0-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 20, 'Pure_Breed'),
 ('fd27c852-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 20, 'Pure_Breed'),
 ('fd27c8d4-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 20, 'Pure_Breed'),
 ('fd27c956-7144-11e5-ba71-058fbc01cf0b', 'Cross Breed', 11, 'NOT_Pure_Breed'),
 ('fd27cb72-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 20, 'Pure_Breed'),
 ('fd27cd98-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 20, 'Pure_Breed'),
 ('fd27ce1a-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 7, 'Pure_Breed'),
 ('fd27cea6-7144-11e5-ba71-058fbc01cf0b', "Mixed Breed/ Other/ I Don't Know", 2, 'NOT_Pure_Breed'),
 ('fd27cf28-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 20, 'Pure_Breed'),
 ('fd27cfaa-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 7, 'Pure_Breed'),
 ('fd27d02c-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 20, 'Pure_Breed'),
 ('fd27d0b8-7144-11e5-ba71-058fbc01cf0b', 'Cross Breed', 21, 'NOT_Pure_Breed'),
 ('fd27d144-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 7, 'Pure_Breed'),
 ('fd27d1c6-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 7, 'Pure_Breed'),
 ('fd27d248-7144-11e5-ba71-058fbc01cf0b', 'Popular Hybrid', 6, 'NOT_Pure_Breed'),
 ('fd27d2ca-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 4, 'Pure_Breed'),
 ('fd27d34c-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 4, 'Pure_Breed'),
 ('fd27d3d8-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 4, 'Pure_Breed'),
 ('fd27d45a-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 28, 'Pure_Breed'),
 ('fd27d4dc-7144-11e5-ba71-058fbc01cf0b', "Mixed Breed/ Other/ I Don't Know", 28, 'NOT_Pure_Breed'),
 ('fd27d770-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 25, 'Pure_Breed'),
 ('fd27d9fa-7144-11e5-ba71-058fbc01cf0b', "Mixed Breed/ Other/ I Don't Know", 20, 'NOT_Pure_Breed'),
 ('fd27db08-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 14, 'Pure_Breed'),
 ('fd27db8a-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 16, 'Pure_Breed'),
 ('fd27dc52-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 2, 'Pure_Breed'),
 ('fd27dd38-7144-11e5-ba71-058fbc01cf0b', 'Cross Breed', 4, 'NOT_Pure_Breed'),
 ('fd27e026-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 6, 'Pure_Breed'),
 ('fd27e0d0-7144-11e5-ba71-058fbc01cf0b', "Mixed Breed/ Other/ I Don't Know", 6, 'NOT_Pure_Breed'),
 ('fd27e1e8-7144-11e5-ba71-058fbc01cf0b', 'Cross Breed', 20, 'NOT_Pure_Breed'),
 ('fd27e31e-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 23, 'Pure_Breed'),
 ('fd27e454-7144-11e5-ba71-058fbc01cf0b', "Mixed Breed/ Other/ I Don't Know", 45, 'NOT_Pure_Breed'),
 ('fd27e580-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 33, 'Pure_Breed'),
 ('fd27e9a4-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 22, 'Pure_Breed'),
 ('fd27eae4-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 4, 'Pure_Breed'),
 ('fd27ed46-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 25, 'Pure_Breed'),
 ('fd27efb2-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 20, 'Pure_Breed'),
 ('fd27f110-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 7, 'Pure_Breed'),
 ('fd27f25a-7144-11e5-ba71-058fbc01cf0b', 'Cross Breed', 6, 'NOT_Pure_Breed'),
 ('fd27f4c6-7144-11e5-ba71-058fbc01cf0b', 'Pure Breed', 4, 'Pure_Breed')]

**Question 15: Adapt your queries from Questions 7 and 14 to examine the relationship between breed_type and number of tests completed by Pure_Breed dogs and non_Pure_Breed dogs.  Your results should return 8336 DogIDs in the Not_Pure_Breed group.**

In [36]:
%%sql
    
   SELECT AVG(dogTest.numtests) AS avgTest, dogTest.pure_breed, COUNT(DISTINCT dogID)
    FROM (SELECT DISTINCT d.dog_guid AS dogID, d.breed_group AS breed_type, count(c.created_at) AS
    numtests, CASE WHEN d.breed_type = "Pure Breed" THEN "Pure Breed"
    ELSE "NOT_Pure_Breed"
    END AS pure_breed
    FROM dogs d JOIN complete_tests c
    ON d.dog_guid=c.dog_guid
    WHERE d.exclude IS NULL OR d.exclude=0
            GROUP BY d.dog_guid) as dogTest
    GROUP BY pure_breed;

2 rows affected.

[(Decimal('10.4273'), 'NOT_Pure_Breed', 8336),
 (Decimal('10.4107'), 'Pure Breed', 8865)]

**Question 16: Adapt your query from Question 15 to examine the relationship between breed_type, whether or not a dog was neutered (indicated in the dog_fixed field), and number of tests completed by Pure_Breed dogs and non_Pure_Breed dogs. There are DogIDs with null values in the dog_fixed column, so your results should have 6 rows, and the average number of tests completed by non-pure-breeds who are neutered is 10.5681.**

In [5]:
%%sql
    
   SELECT AVG(dogTest.numtests) AS avgTest, dogTest.pure_breed, COUNT(DISTINCT dogID), dogTest.Fixed
    FROM (SELECT DISTINCT d.dog_guid AS dogID, d.breed_group AS breed_type, count(c.created_at) AS
    numtests, CASE WHEN d.breed_type = "Pure Breed" THEN "Pure Breed"
    ELSE "NOT_Pure_Breed"
    END AS pure_breed, d.dog_fixed AS Fixed
    FROM dogs d JOIN complete_tests c
    ON d.dog_guid=c.dog_guid
    WHERE d.exclude IS NULL OR d.exclude=0
            GROUP BY d.dog_guid) as dogTest
    GROUP BY pure_breed, Fixed;

6 rows affected.

[(Decimal('9.9897'), 'NOT_Pure_Breed', 97, None),
 (Decimal('8.6807'), 'NOT_Pure_Breed', 592, 0),
 (Decimal('10.5681'), 'NOT_Pure_Breed', 7647, 1),
 (Decimal('8.2815'), 'Pure Breed', 135, None),
 (Decimal('9.3788'), 'Pure Breed', 1687, 0),
 (Decimal('10.6987'), 'Pure Breed', 7043, 1)]

These results suggest that although a dog's breed_type doesn't seem to have a strong relationship with how many tests a dog completed, neutered dogs, on average, seem to finish 1-2 more tests than non-neutered dogs.  It may be fruitful to explore further whether this effect is consistent across different segments of dogs broken up according to other variables.  If the effects are consistent, the next step would be to seek evidence that could clarify whether neutered dogs are finishing more tests due to traits that arise when a dog is neutered, or instead, whether owners who are more likely to neuter their dogs have traits that make it more likely they will want to complete more tests.


## 4. Other dog features that might be related to the number of tests completed, and a note about using averages as summary metrics

Two other dog features included in our sPAP were speed of game completion and previous behavioral training.  Examing the relationship between the speed of game completion and number of games completed is best achieved through creating a scatter plot with a best fit line and/or running a statistical regression analysis.  It is possible to achieve the statistical regression analysis through very advanced SQL queries, but the strategy that would be required is outside the scope of this course.  Therefore, I would recommend exporting relevant data to a program like Tableau, R, or Matlab in order to assess the relationship between the speed of game completion and number of games completed.  

Unfortunately, there is no field available in the Dognition data that is relevant to a dog's previous behavioral training, so more data would need to be collected to examine whether previous behavioral training is related to the number of Dognition tests completed.

One last issue I would like to address in this lesson is the issue of whether an average is a good summary to use to represent the values of a certain group.  Average calculations are very sensitive to extreme values, or outliers, in the data.  This video provides a nice demonstration of how sensitive averages can be:

http://www.statisticslectures.com/topics/outliereffects/

Ideally, you would summarize the data in a group using a median calculation when you either don't know the distribution of values in your data or you already know that outliers are present (the definition of median is covered in the video above).  Unfortunately, medians are more computationally intensive than averages, and there is no pre-made function that allows you to calculate medians using SQL.  If you wanted to calculate the median, you would need to use an advanced strategy such as the ones described here:

https://www.periscopedata.com/blog/medians-in-sql.html

Despite the fact there is no simple way to calculate medians using SQL, there is a way to get a hint about whether average values are likely to be wildly misleading.  As described in the first video (http://www.statisticslectures.com/topics/outliereffects/), strong outliers lead to large standard deviation values.  Fortunately, we *CAN* calculate standard deviations in SQL easily using the STDDEV function.  Therefore, it is good practice to include standard deviation columns with your outputs so that you have an idea whether the average values outputted by your queries are trustworthy.  Whenever standard deviations are a significant portion of the average values of a field, and certainly when standard deviations are larger than the average values of a field, it's a good idea to export your data to a program that can handle more sophisticated statistical analyses before you interpret any results too strongly.  

Let's practice including standard deviations in our queries and interpretting their values.

**Question 17: Adapt your query from Question 7 to include a column with the standard deviation for the number of tests completed by each Dognition personality dimension.**

In [8]:

%%sql SELECT AVG(dogTest.numtests) AS avgTest,STDDEV(dogTest.numtests) AS StDev_Tests, dogTest.dimension, COUNT(DISTINCT dogID)
    FROM (SELECT DISTINCT d.dog_guid AS dogID, d.dimension AS Dimension, count(c.created_at) AS
    numtests
    FROM dogs d JOIN complete_tests c
    ON d.dog_guid=c.dog_guid
    WHERE (dimension IS NOT NULL AND dimension!='') AND (d.exclude IS NULL OR d.exclude = "0")
            GROUP BY d.dog_guid) as dogTest
    GROUP BY dogTest.dimension;

9 rows affected.

[(Decimal('23.5100'), 5.4896, 'ace', 402),
 (Decimal('23.3594'), 5.1919, 'charmer', 626),
 (Decimal('23.2385'), 5.3155, 'einstein', 109),
 (Decimal('23.4249'), 4.7589, 'expert', 273),
 (Decimal('22.7673'), 4.7353, 'maverick', 245),
 (Decimal('22.9570'), 5.3742, 'protodog', 535),
 (Decimal('23.0410'), 4.9508, 'renaissance-dog', 463),
 (Decimal('23.0997'), 4.9748, 'socialite', 792),
 (Decimal('22.7968'), 4.8254, 'stargazer', 310)]

The standard deviations are all around 20-25% of the average values of each personality dimension, and they are not appreciably different across the personality dimensions, so the average values are likely fairly trustworthy.  Let's try calculating the standard deviation of a different measurement.

**Question 18: Write a query that calculates the average amount of time it took each dog breed_type to complete all of the tests in the exam_answers table. Exclude negative durations from the calculation, and include a column that calculates the standard deviation of durations for each breed_type group:**

In [9]:
%%sql SELECT AVG(TIMESTAMPDIFF(minute,e.start_time,e.end_time)) AS AvgDuration, 
STDDEV(TIMESTAMPDIFF(minute,e.start_time,e.end_time)) AS StdDevDuration 
FROM dogs d JOIN exam_answers e
ON d.dog_guid=e.dog_guid
WHERE TIMESTAMPDIFF(minute,e.start_time,e.end_time)>0 
GROUP BY breed_type;

4 rows affected.

[(Decimal('11810.3230'), 59113.4558),
 (Decimal('9145.1575'), 48748.6268),
 (Decimal('7734.0763'), 45577.6582),
 (Decimal('12311.2558'), 60997.3543)]

This time many of the standard deviations have larger magnitudes than the average duration values.  This suggests  there are outliers in the data that are significantly impacting the reported average values, so the average values are not likely trustworthy. These data should be exported to another program for more sophisticated statistical analysis.

**In the next lesson, we will write queries that assess the relationship between testing circumstances and the number of tests completed.  Until then, feel free to practice any additional queries you would like to below!**